fastapi
uvicorn
sqlalchemy
pymysql
email-validator
passlib[bcrypt]
python-jose[cryptography]
google-api-python-client
google-auth
google-auth-oauthlib
openai
jinja2
aiofiles
gtts
pydantic
aiofiles
python-dotenv